/* -- ASPxMenu -- */
.dxmControl_custom 
{
	font: 9pt Tahoma;
	color: black;
}
.dxmControl_custom a,
.dxmMenu_custom a,
.dxmVerticalMenu_custom a,
.dxmSubMenu_custom a
{
	color: black;
	text-decoration: none;
}
.dxmLoadingPanel_custom
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxmLoadingPanel_custom td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 6px 6px 6px 6px;
}   
.dxmMenu_custom,
.dxmVerticalMenu_custom
{
	font: 9pt Tahoma;
	color: white;
	background-color: #273562;
	border: solid 1px #A8A8A8;
	padding: 2px 2px 2px 2px;
}
.dxmMenuGutter_custom,
.dxmMenuRtlGutter_custom
{
}

.dxmMenuSeparator_custom .dx,
.dxmMenuFullHeightSeparator_custom .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_custom,
.dxmMenuFullHeightSeparator_custom
{
	width: 1px;
}

.dxmMenuSeparator_custom .dx,
.dxmMenuFullHeightSeparator_custom,
.dxmMenuVerticalSeparator_custom
{
	background-color: #A8A8A8;
	width: 1px;
}
.dxmMenuSeparator_custom .dx
{
	height: 13px;
}
.dxmMenuFullHeightSeparator_custom
{
	display: none;
}
.dxmMenuVerticalSeparator_custom
{
	width: 100%;
	height: 1px;
}

.dxmMenuItem_custom,
.dxmMenuItemWithImage_custom,
.dxmMenuItemWithPopOutImage_custom,
.dxmMenuItemWithImageWithPopOutImage_custom,
.dxmVerticalMenuItem_custom,
.dxmVerticalMenuItemWithImage_custom,
.dxmVerticalMenuItemWithPopOutImage_custom,
.dxmVerticalMenuItemWithImageWithPopOutImage_custom, 
.dxmVerticalMenuRtlItem_custom,
.dxmVerticalMenuRtlItemWithImage_custom,
.dxmVerticalMenuRtlItemWithPopOutImage_custom,
.dxmVerticalMenuRtlItemWithImageWithPopOutImage_custom,
.dxmMenuLargeItem_custom,
.dxmMenuLargeItemWithImage_custom,
.dxmMenuLargeItemWithPopOutImage_custom,
.dxmMenuLargeItemWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeItem_custom,
.dxmVerticalMenuLargeItemWithImage_custom,
.dxmVerticalMenuLargeItemWithPopOutImage_custom,
.dxmVerticalMenuLargeItemWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItem_custom,
.dxmVerticalMenuLargeRtlItemWithImage_custom,
.dxmVerticalMenuLargeRtlItemWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemWithImageWithPopOutImage_custom
{
	font: 9pt Tahoma;
	color: black;
	font-weight:bold;
	white-space: nowrap;
}
.dxmMenuItem_custom,
.dxmMenuItemWithImage_custom
{
	padding: 4px 8px 5px;
}
.dxmMenuItemWithPopOutImage_custom,
.dxmMenuItemWithImageWithPopOutImage_custom
{
	padding: 4px 6px 5px 8px;
}	
.dxmVerticalMenuItem_custom
{
	padding: 4px 19px 5px 8px;
}
.dxmVerticalMenuRtlItem_custom
{
	padding: 4px 8px 5px 19px;
}
.dxmVerticalMenuItemWithImage_custom
{
	padding: 4px 19px 5px 3px;
}
.dxmVerticalMenuRtlItemWithImage_custom
{
	padding: 4px 3px 5px 19px;
}
.dxmVerticalMenuItemWithPopOutImage_custom
{
	padding: 4px 6px 5px 8px;
}
.dxmVerticalMenuRtlItemWithPopOutImage_custom
{
	padding: 4px 8px 5px 6px;
}
.dxmVerticalMenuItemWithImageWithPopOutImage_custom
{
	padding: 4px 6px 5px 3px;
}
.dxmVerticalMenuRtlItemWithImageWithPopOutImage_custom
{
	padding: 4px 3px 5px 6px;
}
.dxmMenuLargeItem_custom,
.dxmMenuLargeItemWithImage_custom
{
	padding: 4px 12px 5px 11px;
}
.dxmMenuLargeItemWithPopOutImage_custom,
.dxmMenuLargeItemWithImageWithPopOutImage_custom
{
	padding: 4px 6px 5px 11px;
}
.dxmVerticalMenuLargeItem_custom,
.dxmVerticalMenuLargeItemWithImage_custom
{
	padding: 6px 12px 7px 11px;
}
.dxmVerticalMenuLargeRtlItem_custom,
.dxmVerticalMenuLargeRtlItemWithImage_custom
{
	padding: 6px 11px 7px 12px;
}
.dxmVerticalMenuLargeItemWithPopOutImage_custom,
.dxmVerticalMenuLargeItemWithImageWithPopOutImage_custom
{
	padding: 6px  6px 7px 11px;
}
.dxmVerticalMenuLargeRtlItemWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemWithImageWithPopOutImage_custom
{
	padding: 6px  11px 7px 6px;
}
.dxmMenuItemDropDownButton_custom,
.dxmMenuLargeItemDropDownButton_custom
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmMenuRtlItemDropDownButton_custom,
.dxmMenuLargeRtlItemDropDownButton_custom
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmVerticalMenuItemDropDownButton_custom,
.dxmVerticalMenuLargeItemDropDownButton_custom
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmVerticalMenuRtlItemDropDownButton_custom,
.dxmVerticalMenuLargeRtlItemDropDownButton_custom
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmMenuItemSelected_custom,
.dxmMenuItemSelectedWithImage_custom,
.dxmMenuItemSelectedWithPopOutImage_custom,
.dxmMenuItemSelectedWithImageWithPopOutImage_custom,
.dxmVerticalMenuItemSelected_custom,
.dxmVerticalMenuItemSelectedWithImage_custom,
.dxmVerticalMenuItemSelectedWithPopOutImage_custom,
.dxmVerticalMenuItemSelectedWithImageWithPopOutImage_custom,
.dxmVerticalMenuRtlItemSelected_custom,
.dxmVerticalMenuRtlItemSelectedWithImage_custom,
.dxmVerticalMenuRtlItemSelectedWithPopOutImage_custom,
.dxmVerticalMenuRtlItemSelectedWithImageWithPopOutImage_custom,
.dxmMenuLargeItemSelected_custom,
.dxmMenuLargeItemSelectedWithImage_custom,
.dxmMenuLargeItemSelectedWithPopOutImage_custom,
.dxmMenuLargeItemSelectedWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeItemSelected_custom,
.dxmVerticalMenuLargeItemWithImageSelected_custom,
.dxmVerticalMenuLargeItemSelectedWithPopOutImage_custom,
.dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemSelected_custom,
.dxmVerticalMenuLargeRtlItemWithImageSelected_custom,
.dxmVerticalMenuLargeRtlItemSelectedWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemSelectedWithImageWithPopOutImage_custom
{
	background-color: #273562;
}
.dxmMenuItemSelected_custom,
.dxmMenuItemSelectedWithImage_custom
{
	padding: 3px 7px 4px 7px;
}
.dxmMenuItemSelectedWithPopOutImage_custom,
.dxmMenuItemSelectedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 7px;
}	
.dxmVerticalMenuItemSelected_custom
{
	padding: 3px 18px 4px 7px;
}
.dxmVerticalMenuRtlItemSelected_custom
{
	padding: 3px 7px 4px 18px;
}
.dxmVerticalMenuItemSelectedWithImage_custom
{
	padding: 3px 18px 4px 2px;
}
.dxmVerticalMenuRtlItemSelectedWithImage_custom
{
	padding: 3px 2px 4px 18px;
}
.dxmVerticalMenuItemSelectedWithPopOutImage_custom
{
	padding: 3px 5px 4px 7px;	
}
.dxmVerticalMenuRtlItemSelectedWithPopOutImage_custom
{
	padding: 3px 7px 4px 5px;
}
.dxmVerticalMenuItemSelectedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 2px;	
}
.dxmVerticalMenuRtlItemSelectedWithImageWithPopOutImage_custom
{
	padding: 3px 2px 4px 5px;	
}
.dxmMenuLargeItemSelected_custom,
.dxmMenuLargeItemSelectedWithImage_custom
{
	padding: 3px 11px 4px 10px;
}
.dxmMenuLargeItemSelectedWithPopOutImage_custom,
.dxmMenuLargeItemSelectedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 10px;
}
.dxmVerticalMenuLargeItemSelected_custom,
.dxmVerticalMenuLargeItemSelectedWithImage_custom
{
	padding: 5px 11px 6px 10px;
}
.dxmVerticalMenuLargeRtlItemSelected_custom,
.dxmVerticalMenuLargeRtlItemSelectedWithImage_custom
{
	padding: 5px 10px 6px 11px;
}
.dxmVerticalMenuLargeItemSelectedWithPopOutImage_custom,
.dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_custom
{
	padding: 5px 5px 6px 10px;
}
.dxmVerticalMenuLargeRtlItemSelectedWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemSelectedWithImageWithPopOutImage_custom
{
	padding: 5px 10px 6px 5px;
}
.dxmMenuItemDropDownButtonSelected_custom,
.dxmMenuLargeItemDropDownButtonSelected_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuRtlItemDropDownButtonSelected_custom,
.dxmMenuLargeRtlItemDropDownButtonSelected_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmVerticalMenuItemDropDownButtonSelected_custom,
.dxmVerticalMenuLargeItemDropDownButtonSelected_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmVerticalMenuRtlItemDropDownButtonSelected_custom,
.dxmVerticalMenuLargeRtlItemDropDownButtonSelected_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuItemChecked_custom,
.dxmMenuItemCheckedWithImage_custom,
.dxmMenuItemCheckedWithPopOutImage_custom,
.dxmMenuItemCheckedWithImageWithPopOutImage_custom,
.dxmVerticalMenuItemChecked_custom,
.dxmVerticalMenuItemCheckedWithImage_custom,
.dxmVerticalMenuItemCheckedWithPopOutImage_custom,
.dxmVerticalMenuItemCheckedWithImageWithPopOutImage_custom,
.dxmVerticalMenuRtlItemChecked_custom,
.dxmVerticalMenuRtlItemCheckedWithImage_custom,
.dxmVerticalMenuRtlItemCheckedWithPopOutImage_custom,
.dxmVerticalMenuRtlItemCheckedWithImageWithPopOutImage_custom,
.dxmMenuLargeItemChecked_custom,
.dxmMenuLargeItemCheckedWithImage_custom,
.dxmMenuLargeItemCheckedWithPopOutImage_custom,
.dxmMenuLargeItemCheckedWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeItemChecked_custom,
.dxmVerticalMenuLargeItemWithImageChecked_custom,
.dxmVerticalMenuLargeItemCheckedWithPopOutImage_custom,
.dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemChecked_custom,
.dxmVerticalMenuLargeRtlItemWithImageChecked_custom,
.dxmVerticalMenuLargeRtlItemCheckedWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemCheckedWithImageWithPopOutImage_custom
{
	background-color: #273562;
}
.dxmMenuItemChecked_custom,
.dxmMenuItemCheckedWithImage_custom
{
	padding: 3px 7px 4px 7px;
}
.dxmMenuItemCheckedWithPopOutImage_custom,
.dxmMenuItemCheckedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 7px;
}	
.dxmVerticalMenuItemChecked_custom
{
	padding: 3px 18px 4px 7px;
}
.dxmVerticalMenuRtlItemChecked_custom
{
	padding: 3px 7px 4px 18px;
}
.dxmVerticalMenuItemCheckedWithImage_custom
{
	padding: 3px 18px 4px 2px;	
}
.dxmVerticalMenuRtlItemCheckedWithImage_custom
{
	padding: 3px 2px 4px 18px;	
}
.dxmVerticalMenuItemCheckedWithPopOutImage_custom
{
	padding: 3px 5px 4px 7px;	
}
.dxmVerticalMenuRtlItemCheckedWithPopOutImage_custom
{
	padding: 3px 7px 4px 5px;	
}
.dxmVerticalMenuItemCheckedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 2px;	
}
.dxmVerticalMenuRtlItemCheckedWithImageWithPopOutImage_custom
{
	padding: 3px 2px 4px 5px;	
}
.dxmMenuLargeItemChecked_custom,
.dxmMenuLargeItemCheckedWithImage_custom
{
	padding: 3px 11px 4px 10px;
}
.dxmMenuLargeItemCheckedWithPopOutImage_custom,
.dxmMenuLargeItemCheckedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 10px;
}
.dxmVerticalMenuLargeItemChecked_custom,
.dxmVerticalMenuLargeItemCheckedWithImage_custom
{
	padding: 5px 11px 6px 10px;
}
.dxmVerticalMenuLargeRtlItemChecked_custom,
.dxmVerticalMenuLargeRtlItemCheckedWithImage_custom
{
	padding: 5px 10px 6px 11px;
}
.dxmVerticalMenuLargeItemCheckedWithPopOutImage_custom,
.dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_custom
{
	padding: 5px 5px 6px 10px;
}
.dxmVerticalMenuLargeRtlItemCheckedWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemCheckedWithImageWithPopOutImage_custom
{
	padding: 5px 10px 6px 5px;
}
.dxmMenuItemDropDownButtonChecked_custom,
.dxmMenuLargeItemDropDownButtonChecked_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuRtlItemDropDownButtonChecked_custom,
.dxmMenuLargeRtlItemDropDownButtonChecked_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmVerticalMenuItemDropDownButtonChecked_custom,
.dxmVerticalMenuLargeItemDropDownButtonChecked_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmVerticalMenuRtlItemDropDownButtonChecked_custom,
.dxmVerticalMenuLargeRtlItemDropDownButtonChecked_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuItemHover_custom,
.dxmMenuItemHoverWithImage_custom,
.dxmMenuItemHoverWithPopOutImage_custom,
.dxmMenuItemHoverWithImageWithPopOutImage_custom, 
.dxmVerticalMenuItemHover_custom,
.dxmVerticalMenuItemHoverWithImage_custom,
.dxmVerticalMenuItemHoverWithPopOutImage_custom,
.dxmVerticalMenuItemHoverWithImageWithPopOutImage_custom, 
.dxmVerticalMenuRtlItemHover_custom,
.dxmVerticalMenuRtlItemHoverWithImage_custom,
.dxmVerticalMenuRtlItemHoverWithPopOutImage_custom,
.dxmVerticalMenuRtlItemHoverWithImageWithPopOutImage_custom, 
.dxmMenuLargeItemHover_custom,
.dxmMenuLargeItemHoverWithImage_custom,
.dxmMenuLargeItemHoverWithPopOutImage_custom,
.dxmMenuLargeItemHoverWithImageWithPopOutImage_custom, 
.dxmVerticalMenuLargeItemHover_custom,
.dxmVerticalMenuLargeItemHoverWithImage_custom,
.dxmVerticalMenuLargeItemHoverWithPopOutImage_custom,
.dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemHover_custom,
.dxmVerticalMenuLargeRtlItemHoverWithImage_custom,
.dxmVerticalMenuLargeRtlItemHoverWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemHoverWithImageWithPopOutImage_custom
{
	background-color: #273562;
	color: #0099FF;
}
.dxmMenuItemHover_custom a
{
	color: #0099FF;
}
.dxmMenuItemHover_custom,
.dxmMenuItemHoverWithImage_custom
{
	padding: 3px 7px 4px 7px;
}
.dxmMenuItemHoverWithPopOutImage_custom,
.dxmMenuItemHoverWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 7px;
}	
.dxmVerticalMenuItemHover_custom
{
	padding: 3px 18px 4px 7px;
}
.dxmVerticalMenuRtlItemHover_custom
{
	padding: 3px 7px 4px 18px;
}
.dxmVerticalMenuItemHoverWithImage_custom
{
	padding: 3px 18px 4px 2px;	
}
.dxmVerticalMenuRtlItemHoverWithImage_custom
{
	padding: 3px 2px 4px 18px;	
}
.dxmVerticalMenuItemHoverWithPopOutImage_custom
{
	padding: 3px 5px 4px 7px;	
}
.dxmVerticalMenuRtlItemHoverWithPopOutImage_custom
{
	padding: 3px 7px 4px 5px;	
}
.dxmVerticalMenuItemHoverWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 2px;	
}
.dxmVerticalMenuRtlItemHoverWithImageWithPopOutImage_custom
{
	padding: 3px 2px 4px 5px;	
}
.dxmMenuLargeItemHover_custom,
.dxmMenuLargeItemHoverWithImage_custom
{
	padding: 3px 11px 4px 10px;
}
.dxmMenuLargeItemHoverWithPopOutImage_custom,
.dxmMenuLargeItemHoverWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 10px;
}
.dxmVerticalMenuLargeItemHover_custom,
.dxmVerticalMenuLargeItemHoverWithImage_custom
{
	padding: 5px 11px 6px 10px;
}
.dxmVerticalMenuLargeRtlItemHover_custom,
.dxmVerticalMenuLargeRtlItemHoverWithImage_custom
{
	padding: 5px 10px 6px 11px;
}
.dxmVerticalMenuLargeItemHoverWithPopOutImage_custom,
.dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_custom
{
	padding: 5px 5px 6px 10px;
}
.dxmVerticalMenuLargeRtlItemHoverWithPopOutImage_custom,
.dxmVerticalMenuLargeRtlItemHoverWithImageWithPopOutImage_custom
{
	padding: 5px 10px 6px 5px;
}
.dxmMenuItemDropDownButtonHover_custom,
.dxmMenuLargeItemDropDownButtonHover_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuRtlItemDropDownButtonHover_custom,
.dxmMenuLargeRtlItemDropDownButtonHover_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmVerticalMenuItemDropDownButtonHover_custom,
.dxmVerticalMenuLargeItemDropDownButtonHover_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmVerticalMenuRtlItemDropDownButtonHover_custom,
.dxmVerticalMenuLargeRtlItemDropDownButtonHover_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenu_custom
{
	font: 9pt Tahoma;
	color: black;
	background-color: white;
	border: solid 1px #666666;
	padding: 1px;
}
.dxmSubMenuGutter_custom,
.dxmSubMenuRtlGutter_custom
{
	background-color: #E0E0E0;
}
.dxmSubMenuSeparator_custom
{
	background-color: #A8A8A8;
	width: 100%;
	height: 1px;
}
.dxmSubMenuItem_custom,
.dxmSubMenuItemWithImage_custom,
.dxmSubMenuItemWithPopOutImage_custom,
.dxmSubMenuItemWithImageWithPopOutImage_custom,
.dxmSubMenuRtlItem_custom,
.dxmSubMenuRtlItemWithImage_custom,
.dxmSubMenuRtlItemWithPopOutImage_custom,
.dxmSubMenuRtlItemWithImageWithPopOutImage_custom
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxmSubMenuItem_custom,
.dxmSubMenuItemWithImage_custom
{
	padding: 4px 19px 5px 3px;
}
.dxmSubMenuRtlItem_custom,
.dxmSubMenuRtlItemWithImage_custom
{
	padding: 4px 3px 5px 19px;
}
.dxmSubMenuItemWithPopOutImage_custom,
.dxmSubMenuItemWithImageWithPopOutImage_custom
{
	padding: 4px 6px 5px 3px;
}
.dxmSubMenuRtlItemWithPopOutImage_custom,
.dxmSubMenuRtlItemWithImageWithPopOutImage_custom
{
	padding: 4px 3px 5px 6px;
}
.dxmSubMenuItemDropDownButton_custom
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmSubMenuRtlItemDropDownButton_custom
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmSubMenuItemSelected_custom,
.dxmSubMenuItemSelectedWithImage_custom,
.dxmSubMenuItemSelectedWithPopOutImage_custom,
.dxmSubMenuItemSelectedWithImageWithPopOutImage_custom,
.dxmSubMenuRtlItemSelected_custom,
.dxmSubMenuRtlItemSelectedWithImage_custom,
.dxmSubMenuRtlItemSelectedWithPopOutImage_custom,
.dxmSubMenuRtlItemSelectedWithImageWithPopOutImage_custom
{
	background-color: #273562;	
}
.dxmSubMenuItemSelected_custom,
.dxmSubMenuItemSelectedWithImage_custom
{
	padding: 3px 18px 4px 2px;
}
.dxmSubMenuRtlItemSelected_custom,
.dxmSubMenuRtlItemSelectedWithImage_custom
{
	padding: 3px 2px 4px 18px;
}
.dxmSubMenuItemSelectedWithPopOutImage_custom,
.dxmSubMenuItemSelectedWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 2px;
}
.dxmSubMenuRtlItemSelectedWithPopOutImage_custom,
.dxmSubMenuRtlItemSelectedWithImageWithPopOutImage_custom
{
	padding: 3px 2px 4px 5px;
}
.dxmSubMenuItemDropDownButtonSelected_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenuRtlItemDropDownButtonSelected_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenuItemChecked_custom,
.dxmSubMenuItemCheckedWithImage_custom,
.dxmSubMenuItemCheckedWithPopOutImage_custom,
.dxmSubMenuItemCheckedWithImageWithPopOutImage_custom
.dxmSubMenuRtlItemChecked_custom,
.dxmSubMenuRtlItemCheckedWithImage_custom,
.dxmSubMenuRtlItemCheckedWithPopOutImage_custom,
.dxmSubMenuRtlItemCheckedWithImageWithPopOutImage_custom
{
}
.dxmSubMenuItemDropDownButtonChecked_custom
{
}
.dxmSubMenuRtlItemDropDownButtonChecked_custom
{
}
.dxmSubMenuItemHover_custom,
.dxmSubMenuItemHoverWithImage_custom,
.dxmSubMenuItemHoverWithPopOutImage_custom,
.dxmSubMenuItemHoverWithImageWithPopOutImage_custom,
.dxmSubMenuRtlItemHover_custom,
.dxmSubMenuRtlItemHoverWithImage_custom,
.dxmSubMenuRtlItemHoverWithPopOutImage_custom,
.dxmSubMenuRtlItemHoverWithImageWithPopOutImage_custom
{
	background-color: #F2F2F2;
	border: solid 1px #888888;
}
.dxmSubMenuItemHover_custom,
.dxmSubMenuItemHoverWithImage_custom
{
	padding: 3px 18px 4px 2px;
}
.dxmSubMenuRtlItemHover_custom,
.dxmSubMenuRtlItemHoverWithImage_custom
{
	padding: 3px 2px 4px 18px;
}
.dxmSubMenuItemHoverWithPopOutImage_custom,
.dxmSubMenuItemHoverWithImageWithPopOutImage_custom
{
	padding: 3px 5px 4px 2px;
}
.dxmSubMenuRtlItemHoverWithPopOutImage_custom,
.dxmSubMenuRtlItemHoverWithImageWithPopOutImage_custom
{
	padding: 3px 2px 4px 5px;
}
.dxmSubMenuItemDropDownButtonHover_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenuRtlItemDropDownButtonHover_custom
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenuBorderCorrector_custom
{
    position: absolute;
    border: 0px;
    padding: 0px;
}

.dxmMenuItemSpacing_custom,
.dxmMenuLargeItemSpacing_custom,
.dxmMenuItemSeparatorSpacing_custom,
.dxmMenuLargeItemSeparatorSpacing_custom
{
	width: 2px;	
}
.dxmVerticalMenuItemSpacing_custom,
.dxmVerticalMenuItemSeparatorSpacing_custom
{
	height: 1px;
}
.dxmVerticalMenuLargeItemSpacing_custom,
.dxmVerticalMenuLargeItemSeparatorSpacing_custom
{
	height: 2px;
}
.dxmSubMenuItemSpacing_custom,
.dxmSubMenuItemSeparatorSpacing_custom 
{
	height: 1px;
}

.dxmMenuItemLeftImageSpacing_custom
{
	padding-right: 4px;
}
.dxmMenuItemRightImageSpacing_custom
{
	padding-left: 4px;
}
.dxmVerticalMenuItemLeftImageSpacing_custom,
.dxmVerticalMenuItemRightImageSpacing_custom,
.dxmSubMenuItemImageSpacing_custom
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxmVerticalMenuItemLeftImageSpacing_custom div,
.dxmVerticalMenuItemRightImageSpacing_custom div
{
	width: 4px;
	height: 1px;
}
.dxmMenuItemTopImageSpacing_custom,
.dxmVerticalMenuItemTopImageSpacing_custom
{
	margin-bottom: 4px;
}
.dxmMenuItemBottomImageSpacing_custom,
.dxmVerticalMenuItemBottomImageSpacing_custom
{
	margin-top: 4px;
}
.dxmSubMenuItemImageSpacing_custom div
{
	width: 7px;
	height: 1px;
}

.dxmScrollUpButton_custom,
.dxmScrollDownButton_custom
{
    border: solid 1px #888888;
    background-color: #E0E0E0;
    cursor: pointer;
    font-size: 0px;
    padding: 1px;
    text-align: center;
}
.dxmScrollUpButton_custom
{
    margin-bottom: 1px;
}
.dxmScrollDownButton_custom
{
    margin-top: 1px;
}
.dxmScrollButtonHover_custom
{
    background-color: #F2F2F2;
}
.dxmScrollButtonPressed_custom
{
    background-color: #D8D8D8;
}
.dxmScrollButtonDisabled_custom
{
    cursor: default;
}
.dxmScrollArea_custom
{
    overflow: hidden;
    position: relative;
}

/* Disabled */
.dxmDisabled_custom
{
	color: #acacac;
	cursor: default;
}

/*                             */
/* -- ASPxMenu Toolbar mode -- */
/*                             */

td.dxmtb.dxmMenu_custom
{
    padding: 2px;
}

.dxmtb .dxmMenuItem_custom,
.dxmtb .dxmMenuItemWithImage_custom,
.dxmtb .dxmMenuItemWithPopOutImage_custom,
.dxmtb .dxmMenuItemWithImageWithPopOutImage_custom
{
    padding: 4px 5px 5px 5px;
}

.dxmtb .dxmMenuItemSelected_custom,
.dxmtb .dxmMenuItemSelectedWithImage_custom,
.dxmtb .dxmMenuItemSelectedWithPopOutImage_custom,
.dxmtb .dxmMenuItemSelectedWithImageWithPopOutImage_custom,
.dxmtb .dxmMenuItemChecked_custom,
.dxmtb .dxmMenuItemCheckedWithImage_custom,
.dxmtb .dxmMenuItemCheckedWithPopOutImage_custom,
.dxmtb .dxmMenuItemCheckedWithImageWithPopOutImage_custom,
.dxmtb .dxmMenuItemHover_custom,
.dxmtb .dxmMenuItemHoverWithImage_custom,
.dxmtb .dxmMenuItemHoverWithPopOutImage_custom,
.dxmtb .dxmMenuItemHoverWithImageWithPopOutImage_custom
{
    padding: 3px 4px 4px 4px;
}
.dxmtb .dxmMenuItemHoverWithImage_custom.dxmMenuItemLeftImageSpacing_custom,
.dxmtb .dxmMenuItemSelectedWithImage_custom.dxmMenuItemLeftImageSpacing_custom,
.dxmtb .dxmMenuItemCheckedWithImage_custom.dxmMenuItemLeftImageSpacing_custom,
.dxmtb .dxmMenuItemHoverWithImageWithPopOutImage_custom.dxmMenuItemLeftImageSpacing_custom,
.dxmtb .dxmMenuItemSelectedWithImageWithPopOutImage_custom.dxmMenuItemLeftImageSpacing_custom,
.dxmtb .dxmMenuItemCheckedWithImageWithPopOutImage_custom.dxmMenuItemLeftImageSpacing_custom
{
    padding-right: 5px;
}
.dxmtb .dxmMenuItemHoverWithImage_custom.dxmMenuItemRightImageSpacing_custom,
.dxmtb .dxmMenuItemSelectedWithImage_custom.dxmMenuItemRightImageSpacing_custom,
.dxmtb .dxmMenuItemCheckedWithImage_custom.dxmMenuItemRightImageSpacing_custom,
.dxmtb .dxmMenuItemHoverWithImageWithPopOutImage_custom.dxmMenuItemRightImageSpacing_custom,
.dxmtb .dxmMenuItemSelectedWithImageWithPopOutImage_custom.dxmMenuItemRightImageSpacing_custom,
.dxmtb .dxmMenuItemCheckedWithImageWithPopOutImage_custom.dxmMenuItemRightImageSpacing_custom
{
    padding-left: 5px;
}
.dxmtb .dxmMenuItemSpacing_custom,
.dxmtb .dxmMenuItemSeparatorSpacing_custom
{
	width: 2px;
}

/* Item's round border */
.dxmMenuItem_custom .itemLeft,
.dxmMenuItem_custom .itemRight,
.dxmMenuItemHover_custom .itemLeft,
.dxmMenuItemHover_custom .itemRight,
.dxmMenuItemSelected_custom .itemLeft,
.dxmMenuItemSelected_custom .itemRight
{
    width: 13px;
    height: 34px;
}
.dxmMenuItem_custom .itemMiddle,
.dxmMenuItemHover_custom .itemMiddle,
.dxmMenuItemSelected_custom .itemMiddle
{
    white-space: nowrap;
}
.dxmMenuItemHover_custom .itemLeft,
.dxmMenuItemSelected_custom .itemLeft
{
    background-image: url("Images/Left.png");
}
.dxmMenuItemHover_custom .itemMiddle,
.dxmMenuItemSelected_custom .itemMiddle
{
    background-image: url("Images/Middle.png");    
}
.dxmMenuItemHover_custom .itemRight,
.dxmMenuItemSelected_custom .itemRight
{
    background-image: url("Images/Right.png");
}